.datamatic-color-palette-box .x-form-trigger-wrap {
  border:0px;
}

.datamatic-color-palette-box-palette {
  margin-top:4px;
  height:22px;
  cursor:pointer;
}

.datamatic-color-palette-color {
  display:inline-block;
  width: 18px;
  height: 18px;
}

.datamatic-color-palette-box-palette-ct {
  border-top-width:1px;
}

.datamatic-color-palette-box-palette-ct .x-boundlist-item {
  line-height:11px;
  padding:1px;
}

.datamatic-color-palette-color {
  margin-right:1px;
}
