/*EXT overrides =========================================================== START */
/*TODO: implement this as SASS variable overrides*/

/* Menu */
.x-menu-item-text {
	font-size:13px;
	font-family:arial;
}

.datamatic-loading .datamatic-main-toolbar * {
  pointer-events:none;
}

svg {
    overflow: hidden;
		background-color: transparent !important;
}

::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 16px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.2);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 1px 1px 1px;
	min-height: 16px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 4px;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

.picker-dialog-content {
    overflow: hidden;
}

.datamatic-horizontal-tools>.x-panel-body-default {
	background-color: #F1F1F1;
}

.x-splitter-vertical {
    cursor: e-resize;
    cursor: col-resize;
}

.datamatic-horizontal-tools~.x-splitter {
    background-color:transparent;
}

.datamatic-horizontal-tools~.x-splitter-active {
    background-color: #F1F1F1;
}

.x-splitter {
    z-index: 999;
}

.x-menu {
	border:1px solid #CBCBCB !important;
}

.x-menu-item-icon {
	width:23px;
}

.x-menu-item-checked .x-menu-item-checkbox,
.x-menu-item-active .x-menu-item-checkbox
{
	top: 1px;
	background-image:url("images/menu-checked.png") !important;
}

.x-menu-item-unchecked .x-menu-item-checkbox {
	background: none !important;
}

.x-menu-item-active {
	background-color:#EEEEEE;
}

.x-menu-item-text {
	line-height:27px;
}

.x-menu-item-separator {
    height: 8px !important;
    margin-top: 3px !important;
}

.x-menu-body {
	padding: 6px 0px;
}

.x-window-header-default {
    background: #fff;
    border-width: 0px !important;
}

.x-window-default,
.uv-bottom .uv-popover-content {
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2) !important;
    border-radius: 0px;
    -moz-box-shadow: 0 4px 16px rgba(0,0,0,.2)!important;
    box-shadow: 0 4px 16px rgba(0,0,0,.2) !important;
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #A9A9A9;
}

.uv-popover-tail {
	display:none;
}

.x-window-header-title-default >.x-title-text {
    text-transform: initial !important;
    font-weight: normal;
    font-size:16px;
    opacity:1;
}

.x-window-header-title-default{
    margin-left: 14px !important;
    margin-top: 15px !important;
}

.x-window-header>.x-box-inner {
    height:64px !important
}

.x-window-body {
    padding: 10px 10px 0px 42px;
}

.x-window-body .x-form-item-label-inner-default {
    font-size: 13px;
    color: #000;
}

.x-window-body .x-form-field {
    min-height: 25px;
    padding: 2px 6px 2px 6px;
    font-size:13px;
}

.x-window-header-default .x-tool-img {
    background-color: transparent;
		opacity:0.75;
}

.x-window-header-default .x-tool-close {
    background-image: url("images/icons/close-x.png");
    background-repeat: no-repeat;
    background-position: 7px 0px;
}

.x-window-header-default .x-tool-img:hover {
    opacity:1;
}

.x-window-header-default .x-tool-refresh {
		background-image: url("images/icons/jfk_sprite112.png");
		background-repeat: no-repeat;
 	  background-position: 0px -2983px !important;
}

.x-window-header-default .x-tool-refresh:hover {
		opacity:1;
}


.x-window > .x-toolbar-footer {
    background-color: transparent;
    padding: 9px 0 6px 42px;
}

.x-btn-disabled {
    pointer-events: none;
}

.x-resizable-handle {
    background-color: transparent;
    background-image: none !important;
}

.x-component-handle-northeast,
.x-component-handle-northwest,
.x-component-handle-southeast,
.x-component-handle-southwest{
    background-color: #5292F7;
    width:7px;
    height:7px;
    border:1px solid white;
}

.x-resizable-handle-west {
    border-left: 1px dotted #5292F7;
}

.x-resizable-handle-east {
    border-right: 1px dotted #5292F7;
}

.x-resizable-handle-north {
    border-top: 1px dotted #5292F7;
}

.x-resizable-handle-south {
    border-bottom: 1px dotted #5292F7;
}

.x-resizable-handle-southeast {
    margin-bottom: -3px;
    margin-right: -3px;
}

.x-resizable-handle-southwest {
    margin-bottom: -3px;
    margin-left: -3px;
}

.x-resizable-handle-northwest {
    margin-top: -3px;
    margin-left: -3px;
}

.x-resizable-handle-northeast {
    margin-top: -3px;
    margin-right: -3px;
}
/*EXT overrides =========================================================== END */





.x-body.x-border-layout-ct {
	background-color: #F1F1F1;
}

.app-toolbar .x-autocontainer-innerCt {
	background-color: #F1F1F1;
	background-image: url("images/toolbar.png");
	background-repeat: no-repeat;
}

.template {
	width:100%;
	height:100%;
	overflow:auto;
}

.x-panel-default {
	border: 0px;
}

.x-panel-default-border {
	border: 1px solid #D9D9D9;
}

.x-panel-header, .x-splitter {
	background-color: #F1F1F1;
}

.x-title-text {
	color:black;
	font-size: 12px;
	font-weight:bold;
	opacity:0.90;
	text-transform: uppercase !important;
}

.x-panel-header-default-horizontal {
	padding: 2px 15px 2px 15px !important;
}

.x-panel-header-default {
	border-bottom: 1px solid #D9D9D9 !important;
}

div.x-border-layout-ct {
	background-color:#F1F1F1;
}

.x-tree-node-text {
	font-size: 13px;
}

.x-grid-cell-inner-treecolumn {
	padding: 4px 4px 4px 6px;
}

.x-grid-item-selected > tbody > .x-grid-row {
	outline: 0px;
}
.x-grid-item-over {
	background-color: #EEF0F2;
}

.x-grid-item-over > tbody > .x-grid-row {
  outline: 0px;
}

.x-grid-item-selected {
	background-color: #DEE0E1;
}

.data-tree .x-tree-icon {
	display:none;
}

.data-tree .x-tree-elbow-img {
	width:21px;
}

.x-column-header {
	font-size:13px;
}

.dg {
	font-size:13px;
	width:100% !important;
    height: 100% !important;
}

.x-css-shadow {
	display:none !important;
}

.gist-icon {
	background-image: url("images/gist.png");
	background-repeat: no-repeat;
	width:123px;
	height:150px;
	position:relative;
	padding:15px;
	font-size:13px;
	text-align:center;
	border: 1px solid #C6C6C6;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}

.gist-icon-text {
	position:absolute;
	bottom:10px;
	width: 100%;
	text-align: center;
	margin-left: -15px;
}

.gist-icon.x-item-over {
	background-color:#EEF0F2;
}

.gist-icon.x-item-selected {
	background-color:#DEE0E1;
}


/**
 * Tooltips!
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
	  opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-moz-transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 200px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}

.x-panel-header-collapsed {
	display:none !important;
}

[guidedhelpid="share_dialog"] {
	max-height:inherit !important;
}

.google-btn.x-btn-disabled {
	background-color: #6F6F6F;
	border:0px;
}
