.datamatic-main-toolbar {
	border-top: 1px solid #d9d9d9 !important;
	border-bottom: 0px solid #d9d9d9 !important;
}

.datamatic-main-toolbar>.x-toolbar {
	margin-top:-1px;
	padding-top: 4px;
	padding-left: 54px;
	-webkit-box-shadow: inset 0 1px 0 0 #fff;
	-moz-box-shadow: inset 0 1px 0 0 #fff;
	box-shadow: inset 0 1px 0 0 #fff;
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#eee);
	background-image: -moz-linear-gradient(top,#f5f5f5,#eee);
	background-image: -ms-linear-gradient(top,#f5f5f5,#eee);
	background-image: -o-linear-gradient(top,#f5f5f5,#eee);
	background-image: linear-gradient(top,#f5f5f5,#eee);
}

.datamatic-main-toolbar .x-toolbar-item {
	background-color:transparent !important;
	padding: 0px 1px 0px 0px;
	border:1px solid transparent !important;
	border-radius:2px;
	top:0px !important;
    margin-left:0px !important;
    margin-right:0px !important;
}

.datamatic-main-toolbar .x-toolbar-item .x-btn-inner {
	line-height: 22px;
	font-size:11px;
	font-family:Arial;
	font-weight:bold
}

.datamatic-main-toolbar .x-btn-default-toolbar-small .x-btn-arrow,
.datamatic-main-toolbar .x-btn-default-toolbar-small .x-btn-split {
	background-image: url('images/small-grey-disclosure-arrow.png');
	background-position:right 4px;
    background-repeat: no-repeat;
	padding-right:8px;
}

.datamatic-main-toolbar .x-btn-default-toolbar-small .x-btn-split {
	padding-right:11px;
}

.datamatic-main-toolbar .x-btn-default-toolbar-small.x-btn-over .x-btn-split {
	background-position:right -27px;
}

.datamatic-main-toolbar .x-btn-icon-el-default-toolbar-small .x-btn-inner {
	width: 23px;
}

.datamatic-main-toolbar .x-toolbar-item .x-btn-icon-el {
	margin-left: 2px;
    margin-top: 1px;
    width: 23px;
    height: 23px;
}

.datamatic-main-toolbar .x-toolbar-item.x-btn-over {
	border:1px solid #c6c6c6!important;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1) !important;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1) !important;
	box-shadow: 0 1px 1px rgba(0,0,0,.1) !important;
	background-color: #f8f8f8;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
}

.datamatic-main-toolbar .x-toolbar-item.x-btn-pressed,
.datamatic-main-toolbar .x-toolbar-item.x-btn-menu-active {
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1)!important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1)!important;
	background-color: #f6f6f6!important;
	background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
	background-image: -o-linear-gradient(top,#f6f6f6,#f1f1f1);
	background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
	border:1px solid #c6c6c6!important;
}

.datamatic-main-toolbar .x-toolbar-separator {
	border-right: 1px solid #d9d9d9 !important;
	height:55px;
	width:4px;
    margin-left:1px !important;
	margin-right:6px !important;
	margin-top:-10px !important;
}

.datamatic-main-toolbar>.x-toolbar>.x-box-inner {
	overflow:visible;
}

.datamatic-main-toolbar .x-btn-default-toolbar-small.x-item-disabled .x-btn-icon-el {
	opacity:0.5;
}
