.main-menu>.x-toolbar {
	background-color: #404040;
	padding:0px;
}

.main-menu>.x-toolbar>.x-box-inner {
  width:70px !important;
}
  
.main-menu .x-btn {
	border:0px;
	border-radius:0px;
	width:70px;
	height:70px;
	background-color:transparent;
}

.main-menu .x-btn.x-btn-pressed {
  background-color:#4888F0;
}


.main-menu-drive {
  background-repeat:no-repeat;
  background-position:center;
  background-image:url("/images/drive.png");
}

.main-menu-github {
  margin-top:-4px !important;
  background-repeat:no-repeat;
  background-position:center;
  background-image:url("/images/github.png");
}
