.main-header {
	background-color:white;
}

.x-menu {
	border:1px solid #CBCBCB !important;
    z-index:101 !important;
}

.picker-dialog-bg {
    z-index: 102;
}

.main-header>.x-toolbar {
	left:52px !important;
	top:25px !important;
	position:fixed !important;
	background-color:transparent;
	z-index: 102;
}

.x-menu-item-arrow {
	background-image:url("images/menu-parent.png");
	top:10px;
	opacity:0.5;
}

.x-menu-item-active .x-menu-item-arrow {
	opacity:1;
	top:10px;
}

.main-header>.x-toolbar>.x-box-inner {
	overflow:visible;
}

.main-header .x-btn-default-toolbar-small.x-btn-menu-active {
	border: 1px solid #CBCBCB !important;
	border-bottom-color:white !important;
	padding: 1px 0px 0px 1px;
	background-color:white !important;
}

.main-header .x-btn-default-toolbar-small.x-btn-menu-active:after {
	content: '';
	display: block;
	position: absolute;
	left: 0px;
	right: -1px;
	height: 2px;
	background-color: white;
	bottom: -2px;
	border-right: 1px solid #dddddd;
}

.main-logo {
	position:absolute;
	width:40px;
	height:60px;
	background-color: #03A9F4;
	top:0px;
	left:0px;
	cursor:pointer;
}

.datamatic-logo {
	position:absolute;
	background-image:url("images/logo-20x20.png");
	background-repeat:no-repeat;
	width:20px;
	height:20px;
	top:19px;
	left:9px;
	cursor:pointer;
	-webkit-transition: opacity 0.1 s linear;
	-moz-transition: opacity 0.1s linear;
	-o-transition: opacity 0.1s linear;
	-ms-transition: opacity 0.1s linear;
	transition: opacity 0.1s linear;
}

.drive-logo {
	position:absolute;
	background-image:url("images/drive.png");
	background-position: 6px;
	background-repeat:no-repeat;
	width:40px;
	height:60px;
	top:0px;
	opacity:0;
	left:0px;
	cursor:pointer;
	-webkit-transition: opacity 0.1 s linear;
	-moz-transition: opacity 0.1s linear;
	-o-transition: opacity 0.1s linear;
	-ms-transition: opacity 0.1s linear;
	transition: opacity 0.1s linear;
}

.drive-logo>a{
    position:absolute;
    width:100%;
    height:100%;
}

.quick-tip {
	background-color:black;
	color:white;
	padding-left:5px;
	padding-right:7px;
	z-index: 103 !important;
	border-radius:0px;
}

.quick-tip:before{
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom:8px solid black;
    left:50%;
    top:-5px;
}

.quick-tip * {
	color:white;
	font-weight:bold;
	font-size:11px;
}

.open-drive-tooltip:before{
    left:12px;
}

.open-drive-tooltip{
    left:-1px !important;
	top:60px !important;
}

.rename-tooltip{
    left:50px !important;
	top:35px !important;
}

.rename-tooltip:before{
    left:20px;
}

.open-drive-tooltip:before{
    left:12px;
}

.user-info {
	position:absolute;
	right: 14px;
	top: 4px;
	font-size:11px;
}


.main-logo:hover>.drive-logo {
	opacity:1;
}

.main-logo:hover>.datamatic-logo {
	opacity:0;
}

.main-header .x-toolbar-item {
	padding: 1px;
	border:1px solid transparent;
	border-radius:0px;
	background-color:transparent;
}

.main-header .x-toolbar-item {
    margin-left: -8px;
}


.main-header .x-toolbar-item .x-btn-inner {
	font-size:13px;
	padding: 1px 6px;
	font-family: Arial, sans-serif;
}

.main-header .x-toolbar-item.x-btn-over {
	background-color:#EEEEEE;
}

.main-header .x-btn-arrow-right {
	background: none;
	padding-right:0;
}

.x-btn-arrow-right:after {
	display:none;
}

.file-title {
	z-index: 100;
	position: fixed;
	top: 7px;
	font-size: 18px;
	font-style: italic;
	color: #777777;
	left: 57px;
	padding: 4px 4px 3px 3px;
	cursor: pointer;
}

.file-title:hover {
	background-color:#EEEEEE;
}

.google-btn,
.google-btn.x-btn-focus{
	background-color: #4d90fe;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(top,#4d90fe,#4787ed);
	border: 1px solid #3079ed;
	color: #fff;
}

.google-btn:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: #357ae8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	background-image: linear-gradient(top,#4d90fe,#357ae8);
	border: 1px solid #2f5bb7;
	border-bottom-color: #2f5bb7;
}

.google-btn:active {
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	background: #357ae8;
	border: 1px solid #2f5bb7;
	border-top: 1px solid #2f5bb7;
}

.google-btn .x-btn-inner {
	line-height: 21px;
	font-size: 11px;
	font-weight:bold;
}

.google-btn .x-btn-button-default-small,
.google-btn .x-btn-icon-el-default-small {
    height: 21px;
}

.google-btn-secondary,
.google-btn-secondary.x-btn-focus {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    border: 1px solid #dcdcdc;
    border: 1px solid rgba(0,0,0,0.1);
    color: #333;
    cursor: default;
    font-family: inherit;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin: 0 16px 0 0;
    min-width: 72px;
    outline: 0;
    padding: 0 8px;
}

.google-btn-secondary:hover
{
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    color: #111;
}

.google-btn-secondary:active,
.google-btn-secondary.x-btn-pressed {
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	border: 1px solid #2f5bb7;
	border-top: 1px solid #2f5bb7;
}



.google-btn-secondary .x-btn-inner-default-small {
    color: #333;
}

.google-btn-secondary:hover .x-btn-inner-default-small, .google-btn-secondary:active .x-btn-inner-default-smalll {
    color: #111;
}

.main-header-share-btn {
	position: fixed;
	right: 14px;
	z-index: 105;
	top: 26px;
	padding-left: 5px;
}

.main-header-publish-btn {
	position: fixed;
    right: 13px;
	z-index: 105;
	top: 24px;
	padding-left: 5px;
}

.main-header-publish-btn .x-btn-inner {
	padding:0 6px 0 1px;
}

.main-header-sign-in-btn {
	position: fixed;
	right: 14px;
	z-index: 103;
	top: 15px;
}

.main-header-sign-out-btn {
    position: fixed;
    right: -3px;
		display:none !important;
    top:24px;
    z-index: 103;
}

.main-header-change-plan-btn {
    position: fixed;
    right: -3px;
    top:24px;
    z-index: 103;
}

.dcs-a-dcs-b-dcs-c {
	max-height:inherit !important;
}
