.datamatic-publish-window.publishing .x-autocontainer-innerCt:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0px;
    height: 100%;
    background-size: 20px;
    background-position: 43% 43%;
    background-repeat: no-repeat;
    background-image: url("images/loader.gif");
}

.datamatic-publish-window .x-toolbar-footer {
    top:180px !important;
}

.datamatic-publish-window .x-autocontainer-innerCt {
  padding-right: 35px;
}

.datamatic-publish-window-url-header,
.datamatic-publish-window-url-row {
  position:relative;
  top: 4px;
  padding:8px 0px 23px 0px;
  height: 30px;
}

.datamatic-publish-window-url-row {
  border-top:1px solid #EBEBEB;
  border-bottom:1px solid #EBEBEB;
}

.datamatic-publish-window-url-header > div,
.datamatic-publish-window-url-row > div {
  position:absolute;
  font-size:12px;
  color:#777777;
}

.datamatic-publish-window-url-row > div {
  color:black;
}

.datamatic-publish-window-url-row > div {

}

.datamatic-publish-window-url-header-url {

}

.datamatic-publish-window-url-header-views,
.datamatic-publish-window-url-row-views {
  left:140px;
}

.datamatic-publish-window-url-header-share,
.datamatic-publish-window-url-row-share {
  left:210px;
}

.datamatic-publish-window-url-row-share {
  margin-top:-2px;
}

.datamatic-publish-window-url-row-share>iframe {
  margin-top: -2px;
}

.datamatic-publish-window-url-row-share>div:first-child {
  margin-right: 3px !important;
}

.datamatic-publish-window-url-row-share>.fb-share-button {
  top:-6px;
  margin-right:5px;
}

.datamatic-publish-window-url-list {
  margin-left:8px;
}

.datamatic-publish-window-url-row-info {
  position:absolute;
  width:14px;
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAMUExURbDR5i2Ixf///zSY26MxQzsAAAArSURBVHjaYmBiRgJMDMwoADuXgQGvLF7FpHAZGKB8CMkIBFjtRfUCQIABAN8XAhRAz67fAAAAAElFTkSuQmCC);
  height:14px;
  left: 92px;
  top: 9px;
}

.datamatic-publish-window-url-row-info:after {
  width:406px !important;
  top: -7px !important;
  padding:8px 7px 6px 7px !important;
  height: 13px !important;
}

.datamatic-publish-window-url-row-info:before {
  top: 1px !important;
}

.datamatic-publish-window-tab {
  display:inline-block;
  color:#C1C1C1;
  font-wight:bold;
  margin-right:30px;
  cursor:pointer;
}

.datamatic-publish-window-tab-active {
  color:black;
  cursor:default;
  border-bottom: 3px solid #4D90FE;
}

.datamatic-publish-window-tabs {
  margin-top:3px;
  border-bottom: 1px solid #C0C0C0;
  margin-bottom: 5px;
  font-size:14px;
}


/* Google */
.goog-tab-bar.pub-dialog-tab-bar {
  background         : none;
  border-bottom-color: silver!important;
  padding-left       : 0!important;
}
.goog-tab-bar {
  display: inline-block;
  font-size:13px;
  width:100%;
  background: #ebeff9;
  border    : 0;
  cursor    : default;
  list-style: none;
  margin    : 0;
  outline   : none;
  padding   : 0;
}
.goog-tab-bar-top {
  border-bottom: 1px solid #6b90da!important;
  padding-left : 5px!important;
  padding-top  : 0px!important;
}

.goog-tab-bar.pub-dialog-tab-bar .goog-tab.pub-dialog-tab {
  color          : #bdbdbd;
  cursor         : pointer;
  font-weight    : bold;
  margin         : 1px 15px 0 0;
  padding        : 4px 8px;
  text-decoration: none;
  top            : 1px;
}
.goog-tab-bar-top .goog-tab {
  border-bottom: 0;
  float        : left;
  margin       : 1px 4px 0 0;
}
.goog-tab {
  color          : #00c;
  cursor         : default;
  padding        : 4px 8px;
  position       : relative;
  text-decoration: underline;

}
.goog-tab-bar.pub-dialog-tab-bar .goog-tab.pub-dialog-tab.goog-tab-selected,
.goog-tab-bar.pub-dialog-tab-bar .goog-tab.pub-dialog-tab.goog-tab-hover {
  background   : none;
  border-bottom: 3px solid #4d90fe;
  border-left  : none;
  border-right : none;
  border-top   : none;
  color        : black;
}
.goog-tab-bar.pub-dialog-tab-bar .goog-tab.pub-dialog-tab {
  color          : #bdbdbd;
  cursor         : pointer;
  font-weight    : bold;
  margin         : 1px 15px 0 0;
  padding        : 4px 8px;
  text-decoration: none;
  top            : 1px;
}
.goog-tab-bar-top .goog-tab-selected {
  margin-top    : 0;
  padding-bottom: 5px;
  top           : 1px;
}
.goog-tab-bar-top .goog-tab {
  border-bottom: 0;
  float        : left;
  margin       : 1px 4px 0 0;
}
.goog-tab-selected {
  background     : #fff;
  border         : 1px solid #6b90da;
  color          : #000;
  font-weight    : bold;
  text-decoration: none;
}
.goog-tab {
  color          : #00c;
  cursor         : default;
  padding        : 4px 8px;
  position       : relative;
  text-decoration: underline;
}

.pub-dialog-new .pub-dialog-document-link,
.pub-dialog-new .pub-dialog-embed-code,
.pub-dialog-new .pub-dialog-api-code {
  -moz-box-sizing   : border-box;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
  margin-top        : 20px;
  width             : 100%;
}

.jfk-textinput {
  -moz-border-radius   : 1px;
  -webkit-border-radius: 1px;
  border               : 1px solid #d9d9d9;
  border-radius        : 1px;
  border-top           : 1px solid #c0c0c0;
  font-size            : 13px;
  height               : 25px;
  padding              : 1px 8px;
}

.pub-dialog-embed-code,
.pub-dialog-api-code
 {
  font : 13px Arial,sans-serif;
  width: 511px;
  height: 71px;
}
