.datamatic-publish-settings-window .x-btn-plain-toolbar-small {
    padding: 0px 2px;
    margin-top: 1px;
    border-radius: 1px;
}

.datamatic-publish-settings-description .x-form-item-label {
    padding-top:36px;
}

.x-html-editor-tip {
    /* disable html tips over editor as there is an issue with them anyway*/
    display: none !important;
}

.datamatic-publish-settings-window .x-btn-pressed .x-btn-plain-toolbar-small {
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    background-color: #0000000d;
}

.datamatic-publish-settings-window iframe {
    width:100%;
    height: 100%;
}

.datamatic-publish-settings-window textarea {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 14px;
}

body .datamatic-publish-settings-window > .x-toolbar-footer {
    position: absolute !important;
    bottom: 0px;
    top: initial !important;
    padding:9px 0px 35px 42px;
}

.datamatic-publish-settings-window .x-html-editor-input {
    padding: 10px;
    border: 1px solid #dedede;
}


.datamatic-publish-settings-window .x-btn-icon-el {
    background-image: url("images/icons/jfk_sprite112.png") !important;
    width:20px;
    height:20px;
}

.datamatic-publish-settings-window .x-edit-bold {
    background-position: -21px -1911px !important;
}

.datamatic-publish-settings-window .x-edit-italic {
    background-position: 0 -777px !important;
}

.datamatic-publish-settings-window .x-edit-underline {
    background-position: 0 -315px !important;
}

.datamatic-publish-settings-window .x-edit-insertorderedlist {
    background-position: -21px -2436px !important;
}

.datamatic-publish-settings-window .x-edit-insertunorderedlist {
    background-position: 0 -2730px !important;
}

.datamatic-publish-settings-window .x-edit-sourceedit {
    background-position: 0 -2605px !important;
}
