/** DATA EDITOR **/

.x-panel-data-editor .x-panel-body {
    font-size: 13px;
    font-family: arial;
    background-color: #EEEEEE;
    top:-1px !important;
}

.htContextMenu table.htCore {
    border-bottom-width: 1px;
    border-right-width: 1px;
    font-family: arial;
    font-size:13px;
}

.htContextMenu table tbody tr td.current, .htContextMenu table tbody tr td.zeroclipboard-is-hover {
    background-color: #D6E8F6;
}

.handsontable input, .handsontable textarea {
    background-color: white !important;
}
