.datamatic-loading .data-editor-breadcrumb {
    display:none;
}

.data-editor-breadcrumb {
	height: 25px;
	border-top: 1px solid #d9d9d9 !important;
	top: 0px !important;
	position:absolute;
}

.data-editor-breadcrumb {
	margin-top:-1px;
	padding-top: 4px;
	background-color:transparent;
}

.data-editor-breadcrumb .x-toolbar-item {
	background-color:transparent !important;
	padding: 1px;
	border:1px solid transparent !important;
	border-radius:2px;
	top:0px !important;
}

.data-editor-breadcrumb .x-toolbar-item .x-btn-inner {
	line-height: 22px;
	font-size:11px;
	font-family:Arial;
	font-weight:bold
}

.data-editor-breadcrumb .x-btn-button-default-toolbar-small {
    height:22px;
}

.data-editor-breadcrumb .x-btn-default-toolbar-small .x-btn-arrow,
.data-editor-breadcrumb .x-btn-default-toolbar-small .x-btn-split {
	background-image: url('images/small-grey-disclosure-arrow.png');
	background-position:right 3px;
	padding-right:14px;
}

.data-editor-breadcrumb .x-btn-default-toolbar-small .x-btn-split {
	padding-right:11px;
}

.data-editor-breadcrumb .x-btn-default-toolbar-small.x-btn-over .x-btn-split {
	background-position:right -27px;
}

.data-editor-breadcrumb .x-btn-default-toolbar-small-icon .x-btn-inner {
	width: 23px;
}

.data-editor-breadcrumb .x-toolbar-item .x-btn-icon-el {
	left: 1px;
}

.data-editor-breadcrumb .x-toolbar-item.x-btn-over {
	border:1px solid #c6c6c6!important;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1) !important;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1) !important;
	box-shadow: 0 1px 1px rgba(0,0,0,.1) !important;
	background-color: #f8f8f8;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
}

.data-editor-breadcrumb .x-toolbar-item.x-btn-pressed,
.data-editor-breadcrumb .x-toolbar-item.x-btn-menu-active {
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1)!important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1)!important;
	background-color: #f6f6f6!important;
	background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
	background-image: -o-linear-gradient(top,#f6f6f6,#f1f1f1);
	background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
	border:1px solid #c6c6c6!important;
}

.data-editor-breadcrumb .x-toolbar-separator {
	background-image: url("images/menu-parent.png");
	background-repeat:no-repeat;
	height: 35px;
	width: 5px;
	margin-left: 0px !important;
	margin-top: 9px !important;
}

.data-editor-breadcrumb .toolbar-separator-right {
	background-image: url("images/menu-parent.png");
	width:5px;
	background-position:0px 0px;
}

.data-editor-breadcrumb .toolbar-separator-left {
	background-image: url("images/menu-parent-180.png");
}

.data-editor-breadcrumb>.x-toolbar>.x-box-inner {
	overflow:visible;
}

.data-editor-breadcrumb .x-btn-default-toolbar-small-disabled .x-btn-icon-el {
	opacity:0.5;
}

.data-editor-breadcrumb .x-btn-inner-default-toolbar-small {
    max-width: 100px;
}

.data-editor-breadcrumb .x-box-scroller {
    display:none;
}

.data-editor-breadcrumb .x-toolbar-default-scroller .x-box-scroller-body-horizontal {
    margin-left:0px !important;
}

.data-editor-breadcrumb .x-btn-default-toolbar-small .x-btn-arrow {
  background-repeat:no-repeat;
}
