.datamatic-tool-properties {
    background-color: #F1F1F1;
    z-index: 10;
}

.datamatic-tool-dark-header>.x-panel-header {
	background-color: #323232;
}

.datamatic-tool-dark-header {
	border-left: 1px solid #D9D9D9 !important;
	border-bottom: 1px solid #D9D9D9 !important;
}

.datamatic-tool-dark-header .x-panel-header-default-horizontal {
	padding: 3px 15px 1px 15px;
}

.datamatic-tool-dark-header .x-title-text {
	color: white;
}

.datamatic-tool-properties>.x-panel-body {
    overflow:auto;
}

.datamatic-loading .datamatic-tool-properties>.x-panel-body {
    display:none;
}

.datamatic-tool-dark-header .x-tool-close {
	background-image: url("images/icons/jfk_sprite111.png");
	background-position: -21px -462px;
	background-color:transparent;
	width: 20px;
	height: 20px;
}

.datamatic-tool-dark-header .x-tool-refresh {
	background-image: url("images/icons/jfk_sprite112.png");
	background-repeat: no-repeat;
	background-position: 0px -2982px !important;
	background-color:transparent;
	width: 20px;
	height: 20px;
}

.properties-background-image-controller {
	position: relative;
	width: 60%;
	margin-left:40%;
	height: 25px;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	border: 1px solid #999999;
	border-radius:2px;
}

.properties-background-image-controller:hover {
	border: 1px solid black;
}

.datamatic-tool-dark-header .x-tool {
	margin-left:5px !important;
}

.dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd !important;
}

.dg.main .close-button {
	display:none !important;
    background-color: #ccc !important;
}

.dg.main .close-button:hover {
    background-color: #ddd !important;
}

.dg {
    color: #555 !important;
    text-shadow: none !important;
}

.dg.main {
    overflow: visible;
}

.dg.main::-webkit-scrollbar {
    background: #fafafa !important;
}

.dg.main::-webkit-scrollbar-thumb {
    background: #bbb !important;
}

.dg li:not(.folder) {
    background: white !important;
    border-bottom: 1px solid #ddd !important;
}

.dg li.save-row .button {
    text-shadow: none !important;
}

.dg li.title {
    padding-left: 27px !important;
    font-weight:bold;
    background-color: #F1F1F1 !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAnSURBVHjaYtTQ0PjPgAMwgghsCm7cuMHICOMgKwBJYBiDbgJAgAEAaXIK8tZDkjMAAAAASUVORK5CYII=) !important;
    background-repeat: no-repeat !important;
    background-position: 13px 11px !important;
}

.dg .closed>li.title {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAMAAAAYuxziAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAGUExURSgoKAAAANqv3YAAAAACdFJOU/8A5bcwSgAAAB1JREFUeNpiYGBkZGRgYAATDGCCAcYCiQFlAQIMAADrAA1gGCQCAAAAAElFTkSuQmCC) !important;
}

.dg .closed li:not(.title), .dg .closed ul li, .dg .closed ul li > * {
    border:0 !important;
}

.dg .slider {
    margin-left: 0px !important;
    height: 24px !important;
    width:69% !important;
    margin-top: 1px !important;
}


.dg .cr.function:hover,.dg .cr.boolean:hover {
    background: #fff !important;
}

.dg .c input[type=text] {
    background: #e9e9e9;
    margin-top: 1px !important;
    padding:4px 4px 5px 4px !important;
}

.dg .c select {
    margin-top: 1px !important;
    height: 24px;
}

.dg .c input[type=text]:hover {
    background: #eee;
}

.dg .has-slider .c input[type=text]:hover {
    background: #eee !important;
}

.dg .has-slider .cr.function:hover,.dg .cr.boolean:hover {
    background: #fff !important;
}

.dg .has-slider .c input[type=text] {
    background: #e9e9e9 !important;
}

//.dg .c input[type=text]:focus {
//    background: #eee !important;
//    color: #555 !important;
//}

.dg .c .slider {
    background: #e9e9e9 !important;
}

.dg .c .slider:hover {
    background: #eee !important;
}

.dg .hue-field {
	width:13px !important;
}

.dg li.folder {
    border-left: 0px solid rgba(0, 0, 0, 0) !important;
}

.dg .c:hover .selector {
    display: none !important;
}

.dg .c-active .selector, .dg .c-active:hover .selector, ,.dg .c .selector.drag {
    display: block !important;
}

.dg .c select {
    width:100%;
}

/* spectrum color picker */
.sp-container {
    background-color: white;
    border: 1px solid #CBCBCB;
    box-shadow:0 2px 4px rgba(0,0,0,0.2);
}

.sp-palette .sp-thumb-el {
    border: 0px solid white;
    margin:1px 0px 0px 1px !important;
}
.sp-cancel {
    display: block;
    text-align: center;
    margin-right:5px !important;
    color: #333 !important;
}

.sp-cancel:hover {
    text-decoration:none !important;
    color: #111 !important;
}

.sp-cancel, .sp-choose {
    position:relative;
    float:left;
}

.sp-container button, .sp-cancel {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    border: 1px solid #dcdcdc;
    border: 1px solid rgba(0,0,0,0.1);
    color: #333;
    cursor: default;
    font-family: inherit;
    font-size: 11px;
    height: 29px;
    line-height: 27px;
    margin:9px 0px -1px 0;
    min-width: 45px;
    outline: 0;
    padding: 0 8px;
}

.sp-container button:hover, .sp-cancel:hover {
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    color: #111;
}

.sp-not-palette-only .sp-palette-toggle,
.sp-not-palette-only .sp-palette-toggle:hover
{
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	border: 1px solid #2f5bb7;
	border-top: 1px solid #2f5bb7;
}

.sp-container .sp-choose {
    background-color: #4d90fe;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(top,#4d90fe,#4787ed);
	border: 1px solid #3079ed;
	color: #fff;
}

.sp-container .sp-choose:hover {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: #357ae8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	background-image: linear-gradient(top,#4d90fe,#357ae8);
	border: 1px solid #2f5bb7;
    color: #fff !important;
	border-bottom-color: #2f5bb7;
}

.cr.string.color input {
  cursor:pointer !important;
}

.dg .c input[type=text] {
	background: #FFFFFF !important;
	border:1px solid #A9A9A9 !important;
	color: black !important;
	height: 24px;
}

.color-input>input {
	height:24px;
}
