.datamatic-loading .datamatic-template-sandbox {
    display:none;
}

.datamatic-tool-result {
	box-shadow: 0 0 4px rgba(0,0,0,0.1);
    z-index: 0;
}

.datamatic-tool-result, .datamatic-tool-result>.x-panel-body{
    overflow: visible;
}

.datamatic-loading .datamatic-tool-result:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0px;
    height: 100%;
    background-size: 20px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #F4F4F4;
    background-image: url("images/loader.gif");
}

#datamatic-tool-result-innerCt {
	background-size:cover;
	background-repeat:no-repeat;
	// overflow:auto;
	position: absolute !important;
	height: 100%;
	width: 100%;
}

.datamatic-tool-result-body {

}

.datamatic-template-ct {
	cursor:move;
}

.datamatic-loading .datamatic-output {
    display:none;
}

.datamatic-output,
.datamatic-template-sandbox {
	position:absolute;
	width:100%;
	height:100%;
	border:0;
    z-index: 1;
}

.datamatic-sandbox-mask {
    position:fixed;
    z-index: 20;
    display: none;
    background-color: transparent;
}
